{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>
            {% block title %}
            Welcome to My Blog!
            {% endblock %}
        </title>
        
        {% block css %}
        {% endblock %}
        <link href="{% static 'plugins/css/bootstrap.min.css' %}" type="text/css" media="all" rel="stylesheet" />
        <link rel="stylesheet" href="{% static "css/style.css" %}">

        {% block js %}
        {% endblock %}
        <script src="{% static 'js/htmx.min.js' %}" defer></script>
    </head>

    <body style="display: flex; justify-content: center; margin-top: 1em; padding-bottom: 20em;">
        <div style="width: 75%;">
            <div style="padding-bottom: 1em;">
                <div class="navbar" style="border-bottom: chocolate 2px solid; margin-bottom: 0.5em;">
                    <a href="{% url "home" %}">Home</a>
                    <a href="{% url "articles:create" %}">Create</a>
                    <a href="{% url "articles:search" %}">Search</a>
                    
                    {% if request.user.is_staff %}
                        <a href="/admin/">Admin</a>
                    {% endif %}

                    {% if not request.user.is_authenticated %}
                        <a href="{% url "login" %}">Login</a>
                        <a href="{% url "register" %}">Register</a>
                    {% endif %}
                </div>
                
                {% if request.user.is_authenticated %}
                <div style="margin-bottom: 2em;">
                        <label class="small" style="float: left; display: inline-block;">Welcome, <a href="{{ request.user.account.get_profile_url }}">{{request.user.username}}</a></label>
                        <a class="small" style="float: right; display: inline-block;" href="{% url "logout" %}">Logout</a>
                    </div>
                {% endif %}
            </div>
    
            {% block content %}
            {% endblock %}
            
        </div>
    </body>
</html>