<div id="follow_{{account.user.username}}">
    <form>
        {% csrf_token %}
        {% if account in request.user.account.following.all %}
            <button class="btn btn-primary btn-sm"
            type="submit"
            hx-vals='{"follow":"0"}'
            hx-trigger="click" hx-target="#follow_{{account.user.username}}" hx-post="{{ account.get_follow_url }}"
            >Followed</button>
        {% else %}
            <button class="btn btn-outline-primary btn-sm"
            type="submit"
            hx-vals='{"follow":"1"}'
            hx-trigger="click" hx-target="#follow_{{account.user.username}}" hx-post="{{ account.get_follow_url }}"
            >Follow</button>
        {% endif %}
    </form>
</div>
