{% load martortags %}
{% load humanize %}

<div class="container">
    {% for article in articles %}
        <div class="card mb-4">
            
            {% with article.get_first_imglink as img_link %}
            {% if img_link %}
                <img src="{{ img_link }}" class="card-img-top">
            {% endif %}
            {% endwith %}
            
            <div class="card-body">
                <h2 class="card-title"><a href="{{ article.get_absolute_url }}">{{article.title}}</a></h2>
                <h5 class="card-subtitle mb-2 text-body-secondary">{{article.author.proper_name}}</h5>
                <div class="card-text">{{ article.get_first_text|slice:":200"|safe_markdown }}</div>
            </div>

            <div class="card-footer">
                <small class="text-body-secondary">Last updated {{ article.updated|naturaltime }} </small>
            </div>
        </div>
    {% endfor %}
</div>