{% extends "base.html" %}

{% block title %}
Account
{% endblock %}

{% block content %}

{% include "accounts/nametag.html" %}

{% if account.user.username == request.user.username %}
    <div style="display: flex; justify-content: flex-end;" >
        <a class="small" style="margin-right: 1em;" href="{% url "accounts:password" %}">Change Password</a>
        <a class="small" href="{% url "accounts:edit" %}">Edit Profile</a>
    </div>
{% endif %}

<p>Url: {{account.url}}</p>
<p>Email: {{account.user.email}}</p>
<p>Bio: {{account.bio}}</p>

<b style="font-size: 2em">Articles</b>
{% include "articles/articles_list.html" with articles=account.sorted_article_set %}

<b style="font-size: 2em">Upvoted Articles</b>
{% include "articles/articles_list.html" with articles=account.upvote_articles.all %}

{% endblock %}