{% extends "base.html" %}

{% block title %}
{{account.user.username}}'s Profile
{% endblock %}

{% block content %}

{% include "accounts/nametag.html" %}

{% if account.user.username == request.user.username %}
    <div style="display: flex; justify-content: flex-end;" >
        <a class="small" style="margin-right: 1em;" href="{% url "accounts:password" %}">Change Password</a>
        <a class="small" href="{% url "accounts:edit" %}">Edit Profile</a>
    </div>
{% endif %}

<p>Url: {{account.url}}</p>
<p>Email: {{account.user.email}}</p>
<p>Bio: {{account.bio}}</p>

<ul class="nav nav-tabs">
    {% for infopage in infopage_list %}
        <li class="nav-item">
            <form>
                {% csrf_token %}
                <button class="nav-link"
                    type="submit"
                    hx-vals='{"account":"{{account.user.username}}", "infopage": "{{infopage}}"}'
                    hx-trigger="click" hx-target="#infopage_content" hx-post="{% url "accounts:infopage" %}"
                >{{infopage}}</button>
            </form>
        </li>
    {% endfor %}
</ul>

<div id="infopage_content">
    {% include "articles/articles_list.html" with articles=account.sorted_article_set %}
<div>

{% endblock %}