{% load static %}

<div class="row mb-3">
    <div style="width: 72px; margin-right:1em;">
        {% if account.avatar %}
        <a href="{{ account.get_profile_url }}"><img src="{{ account.get_avatar_url }}" height="72px"; width=auto;></a>
        {% else %}
        <a href="{{ account.get_profile_url }}"><img src="{% static "img/avatar.svg" %}" height="72px"; width=auto;></a>
        {% endif %}
    </div>
    <div class="col-auto me-auto">
        <div style="font-size: 2em;">{{account.user.first_name}} {{account.user.last_name}}</div>
        <div style="font-size: 1em;">@<a href="{{ account.get_profile_url }}">{{account.user.username}}</a></div>
    </div>
    
    <div class="col-auto">
        {% include "follow_btn.html" %}
    </div>

</div>
