{% load static %}

<div style="display: flex;">
    {% if account.avatar %}
        <a href="{{ account.get_profile_url }}"><img src="{{ account.get_avatar_url }}" height="72px"; width=auto;></a>
    {% else %}
        <a href="{{ account.get_profile_url }}"><img src="{% static "img/avatar.svg" %}" height="72px"; width=auto;></a>
    {% endif %}
    <div style="margin-left: 1em;">
        <div style="font-size: 2em;">{{account.user.first_name}} {{account.user.last_name}}</div>
        <div style="font-size: 1em;">@<a href="{{ account.get_profile_url }}">{{account.user.username}}</a></div>
    </div>
</div>
