{% load static %}

<div style="display: flex;">
    {% if account.avatar %}
        <img src="{{ account.get_avatar_url }}" height="55px"; width=auto;>
    {% else %}
        <img src="{% static "img/avatar.svg" %}" height="55px"; width=auto;>
    {% endif %}
    <div style="margin-left: 1em;">
        <div style="font-size: 2em;">{{account.user.first_name}} {{account.user.last_name}}</div>
        <div style="font-size: 1em;">@<a href="{% url "accounts:detail" username=account.user.username %}">{{account.user.username}}</a></div>
    </div>
</div>
