.helptext{
    color: grey;
}

.errorlist{
    color: red;
}

.error input, .error select {
    border: 2px red solid;
}

.nav>a{
    display: inline-block;
    color: chocolate;
    font-size: 2em;
    font-weight: bold;
    margin-right: 1em;
}