{% load static %}
{% load martortags %}

{% block css %}
    <link href="{% static 'plugins/css/ace.min.css' %}" type="text/css" media="all" rel="stylesheet" />
{% endblock %}

{% block js %}
    <script type="text/javascript" src="{% static 'plugins/js/highlight.min.js' %}" defer></script>
    <script>
        $('.martor-preview pre').each(function(i, block){
            hljs.highlightBlock(block);
        });
    </script>
{% endblock %}

<div class="row justify-content-center">

    {% for comment in comments%}
    {% comment %} <div style="display: flex; justify-content: space-between;"> {% endcomment %}
        <div id="{{ comment.get_unique_id }}" class="col-10" style="border-left: chocolate 2px solid; margin: 20px;">
            
            <div class="col">
                {% include "accounts/nametag.html" with account=comment.author %}
            </div>
            
            <div class="small">{{ comment.timestamp|date:"Y.m.d H:i" }}</div>
            
            <div class="martor-preview">
                <p>{{ comment.content|safe_markdown }}</p>
            </div>
            
            <div class="row">
                <div class="col-auto">
                    {% include "vote_btn.html" with thing=comment %}
                </div>
                
                <div class="col-auto me-auto">
                    <a class="btn btn-outline-success btn-sm" href="{{ comment.get_absolute_url }}">🔗Link</a>
                </div>
                
                {% if comment.author == request.user.account %}
                <div class="col-auto">
                    <a class="btn btn-outline-danger btn-sm" href="{{ comment.get_delete_url }}">Delete</a>
                </div>
                {% endif %}
            
            </div>
        </div>
        
    {% endfor %}
        
</div>