{% load static %}

<div class="row justify-content-center">
    {% comment %} 他奶奶的，这坨东西放在div外面，被htmx插入后就不会加载，放在里面就能被加载？！！ {% endcomment %}
    <script type="text/javascript" src="{% static 'plugins/js/jquery.min.js' %}" defer></script>
    <script type="text/javascript" src="{% static 'plugins/js/ace.js' %}" defer></script>
    <script type="text/javascript" src="{% static 'plugins/js/mode-markdown.js' %}" defer></script>
    <script type="text/javascript" src="{% static 'plugins/js/ext-language_tools.js' %}" defer></script>
    <script type="text/javascript" src="{% static 'plugins/js/theme-github.js' %}" defer></script>
    <script type="text/javascript" src="{% static 'plugins/js/typo.js' %}" defer></script>
    <script type="text/javascript" src="{% static 'plugins/js/spellcheck.js' %}" defer></script>
    <script type="text/javascript" src="{% static 'plugins/js/highlight.min.js' %}" defer></script>
    <script type="text/javascript" src="{% static 'plugins/js/resizable.min.js' %}" defer></script>
    <script type="text/javascript" src="{% static 'plugins/js/emojis.min.js' %}" defer></script>
    <script type="text/javascript" src="{% static 'martor/js/martor.bootstrap.min.js' %}" defer></script>
    {% comment %} 他奶奶的，这坨东西放在div外面，被htmx插入后就不会加载，放在里面就能被加载？！！ {% endcomment %}
    
    <div class="col-10">
        <form class="form" action="{% url "comments:post" %}" method="POST">
            {% csrf_token %}
            <div class="form-group">
            {% include "form.html" with form=comment_form %}
            <button class="btn btn-outline-success" type="submit">
                <i class="bi bi-save"></i> Submit
            </button>
            <input type="hidden" name="article_slug" value="{{article_slug}}" />
            <input type="hidden" name="reply_to_id" value="{{reply_to_id}}" />
            </div>
        </form>
    </div>
</div>