{% load static %}

{% block css %}
    <link href="{% static 'martor/css/martor.bootstrap.min.css' %}" type="text/css" media="all" rel="stylesheet" />
    <link href="{% static 'plugins/css/ace.min.css' %}" type="text/css" media="all" rel="stylesheet" />
    <link href="{% static 'plugins/css/resizable.min.css' %}" type="text/css" media="all" rel="stylesheet" />
{% endblock %}

{% block js %}
    <script type="text/javascript" src="{% static 'plugins/js/jquery.min.js' %}" defer></script>
    <script type="text/javascript" src="{% static 'plugins/js/bootstrap.min.js' %}" defer></script>
    <script type="text/javascript" src="{% static 'plugins/js/ace.js' %}" defer></script>
    <script type="text/javascript" src="{% static 'plugins/js/mode-markdown.js' %}" defer></script>
    <script type="text/javascript" src="{% static 'plugins/js/ext-language_tools.js' %}" defer></script>
    <script type="text/javascript" src="{% static 'plugins/js/theme-github.js' %}" defer></script>
    <script type="text/javascript" src="{% static 'plugins/js/typo.js' %}" defer></script>
    <script type="text/javascript" src="{% static 'plugins/js/spellcheck.js' %}" defer></script>
    <script type="text/javascript" src="{% static 'plugins/js/highlight.min.js' %}" defer></script>
    <script type="text/javascript" src="{% static 'plugins/js/resizable.min.js' %}" defer></script>
    <script type="text/javascript" src="{% static 'plugins/js/emojis.min.js' %}" defer></script>
    <script type="text/javascript" src="{% static 'martor/js/martor.bootstrap.min.js' %}" defer></script>
{% endblock %}

<form clss="form" action="." method="POST">
    {% csrf_token %}
    <div class="form-group">
    {% include "form.html" with form=comment_form %}
    <button class="btn btn-outline-success" type="submit">
        <i class="bi bi-save"></i> Submit
    </button>
    </div>
</form>