{% extends "base.html" %}

{% load static %}
{% load martortags %}

{% block title %}
{{article.title}}
{% endblock %}

{% block css %}
    <link href="{% static 'plugins/css/ace.min.css' %}" type="text/css" media="all" rel="stylesheet" />
{% endblock %}

{% block js %}
    <script type="text/javascript" src="{% static 'plugins/js/highlight.min.js' %}" defer></script>
    <script>
        $('.martor-preview pre').each(function(i, block){
            hljs.highlightBlock(block);
        });
    </script>
{% endblock %}

{% block content %}
<div style="margin-bottom: 2em;">
    
    <div style="display: flex; justify-content: space-between;">
        <div style="display: flex; align-items: flex-start;">
            <h1>{{article.title}}</h1>
        </div>
        <div style="display: flex; flex-direction: column;">
            <p class="small">Created at: {{ article.timestamp|date:"Y.m.d H:i" }}</p>
            <p class="small">Updated at: {{ article.updated|date:"Y.m.d H:i" }}</p>
        </div>
    </div>
    
    {% include "accounts/nametag.html" with account=article.author %}
    <hr />
    <div class="container">
        <div class="row">
            <div class="martor-preview">
                <p>{{ article.content|safe_markdown }}</p>
            </div>
        </div>
    
        <div class="row">
            <div class="col-auto me-auto">
                {% include "vote_btn.html" with thing=article %}
            </div>
            
            {% if article.author == request.user.account %}
            <div class="col-auto">
                <a class="btn btn-outline-primary btn-sm" href="{{ article.get_edit_url }}">Edit</a>
                <a class="btn btn-outline-danger btn-sm" href="{{ article.get_delete_url }}">Delete</a>
            </div>
            {% endif %}
        
        </div>
    </div>

</div>

<div>
    <b class="row justify-content-center" style="font-size: 2em; border-bottom: chocolate 2px solid;">Comments</b>

    {% include "comments/comments_list.html" with comments=article.get_comment_list article_slug=article.slug %}

    <b class="row justify-content-center" style="font-size: 1.5em;">Write Comment</b>

    {% include "comments/edit.html" with article_slug=article.slug reply_to_id="None" %}
    
</div>

{% endblock %}
