{% extends "base.html" %}

{% load static %}
{% load martortags %}

{% block title %}
{{article.title}}
{% endblock %}

{% block css %}
    <link href="{% static 'plugins/css/ace.min.css' %}" type="text/css" media="all" rel="stylesheet" />
{% endblock %}

{% block js %}
    <script type="text/javascript" src="{% static 'plugins/js/highlight.min.js' %}" async></script>
    <script>
        $('.martor-preview pre').each(function(i, block){
            hljs.highlightBlock(block);
        });
    </script>
{% endblock %}

{% block content %}
<div>
    
    <div style="display: flex; justify-content: space-between;">
        <div style="display: flex; align-items: center;">
            <h1>{{article.title}}</h1>
        </div>
        <div style="display: flex; align-items: center;">
            Created at: {{ article.timestamp|date:"Y.m.d H:i" }}
            <br>
            Updated at: {{ article.updated|date:"Y.m.d H:i" }}
        </div>
    </div>
    
    {% include "accounts/nametag.html" with account=article.author.account %}
    <hr />
    <div class="martor-preview">
        <p>{{ article.content|safe_markdown }}</p>
    </div>
    
    {% if article.author.username == request.user.username %}
        <div style="display: flex; justify-content: flex-end;">
            <a class="small" style="margin-right: 1em;" href="{{ article.get_edit_url }}">Edit</a>
            <a class="small" href="{{ article.get_delete_url }}">Delete</a>
        </div>
    {% endif %}
</div>

<b style="font-size: 2em">Comments</b>
<br>
{% include "comments/comments_list.html" with comments=article.sorted_comment_set %}


<b style="font-size: 1.5em">Write Comment</b>
{% include "comments/edit.html" %}

{% endblock %}
