{% extends "base.html" %}
{% load static %}

{% block title %}
Create Articles
{% endblock %}

{% block css %}
    <link href="{% static 'plugins/css/resizable.min.css' %}" type="text/css" media="all" rel="stylesheet" />
{% endblock %}

{% block js %}
    <script type="text/javascript" src="{% static 'plugins/js/ace.js' %}" defer></script>
    <script type="text/javascript" src="{% static 'plugins/js/mode-markdown.js' %}" defer></script>
    <script type="text/javascript" src="{% static 'plugins/js/ext-language_tools.js' %}" defer></script>
    <script type="text/javascript" src="{% static 'plugins/js/theme-github.js' %}" defer></script>
    <script type="text/javascript" src="{% static 'plugins/js/typo.js' %}" defer></script>
    <script type="text/javascript" src="{% static 'plugins/js/spellcheck.js' %}" defer></script>
    <script type="text/javascript" src="{% static 'plugins/js/highlight.min.js' %}" defer></script>
    <script type="text/javascript" src="{% static 'plugins/js/resizable.min.js' %}" defer></script>
    <script type="text/javascript" src="{% static 'plugins/js/emojis.min.js' %}" defer></script>
    <script type="text/javascript" src="{% static 'martor/js/martor.bootstrap.min.js' %}" defer></script>
{% endblock %}

{% block content %}

<h1>{{mode}} Article</h1>

<form class="form" action="." method="POST">
    {% csrf_token %}
    <div class="form-group">
    {% include "form.html" %}
    <button class="btn btn-outline-success" type="submit">
        💾 Save
    </button>
    </div>
</form>

{% endblock %}
