{% extends "base.html" %}
{% load static %}

{% block title %}
Articles
{% endblock %}

{% block content %}

<h1>
    Search Articles{% if q %} - "{{ q }}"{% endif %}
</h1>

<form>
    <select
        class="form-select mb-2"
        name="type"
        id="search-type"
        hx-include="#search-input"
        hx-trigger="change delay:50ms"
        hx-get="{% url "articles:search" %}"
        hx-target="#search-list"
    >
        
        {% if request.GET.type == "All" %}
            <option value="All" selected>Title & Content</option>
        {% else %}
            <option value="All">Title & Content</option>
        {% endif %}
        
        {% if request.GET.type == "Title" %}
            <option value="Title" selected>Title</option>
        {% else %}
            <option value="Title">Title</option>
        {% endif %}
        
        {% if request.GET.type == "Content" %}
            <option value="Content" selected>Content</option>
        {% else %}
            <option value="Content">Content</option>
        {% endif %}
        
        {% if request.GET.type == "Author" %}
            <option value="Author" selected>Author</option>
        {% else %}
            <option value="Author">Author</option>
        {% endif %}

    </select>
    <input
        class="form-control"
        type="search"
        name="q"
        id="search-input"
        value="{{ request.GET.q }}"
        hx-include="#search-type"
        hx-trigger="keyup changed delay:50ms, search"
        hx-get="{% url "articles:search" %}"
        hx-target="#search-list"
    >
</form>

<div id="search-list">{% include "articles/search_list.html" %}</div>
{% endblock %}
