{% extends 'base.html' %}

{% block title %}
Messenger
{% endblock title %}

{% block content %}
<h1>施工中</h1>
<div class="container flex-grow-1">
    <div class="row h-100">
        
        <form class="col-auto border border-warning border-5 rounded-4">
            {% comment %}高度占满且可以scroll如何实现？？ class="d-flex flex-column h-100 overflow-y-scroll" style="max-height:50%" {% endcomment %}
            {% csrf_token %}
            <div class="btn-group-vertical" role="group">
                {% for receiver in receivers %}
                    <input type="radio" class="btn-check" name="vbtn-radio" id="vbtn-{{receiver}}" autocomplete="off"
                    hx-vals='{"receiver": "{{receiver.user.username}}" }'
                    hx-trigger="click" hx-target="#message_box" hx-post="{% url "messenger:messages" %}">
                    <label class="btn btn-outline-warning" for="vbtn-{{receiver}}">
                        {% include "accounts/nametag.html" with account=receiver follow_btn="None" %}
                    </label>
                {% endfor %}
            </div>
        </form>
            
        <div class="col ms-2 border border-warning border-5 rounded-4" id="message_box"></div>
    </div>
</div>
{% endblock content %}
