{% extends 'base.html' %}

{% block title %}
Messenger
{% endblock title %}

{% block content %}
<!-- 为base.html的d-flex flex-column中的flex-fill，同时设定为d-flex flex-row -->
<div class="flex-fill mb-3 d-flex flex-row overflow-hidden">

    <!-- 左边栏 -->
    <!-- 为d-flex flex-row中的flex-shrink-1（横向尽量缩小） -->
    <div class="flex-shrink-1 col-auto border border-warning-subtle border-5 rounded-4 overflow-x-hidden overflow-y-auto" style="min-width: 122px" id="messengerlist">
        {% include "messenger/messenger_list.html" %}
    </div>

    <form
        hx-get="{% url 'messenger:base' %}"
        hx-target="#messengerlist"
        hx-trigger="every 15s">
        <!-- 记录左边栏选中的，定时刷新之后要加上checked进行选中 -->
        <input type="hidden" id="current_ta" name="current_ta">
    </form>
    
    <!-- 右边 -->
    <!-- 为d-flex flex-row中的flex-fill，同时设定为d-flex flex-column -->
    <div class="flex-fill col-auto ms-2 border border-warning-subtle border-5 rounded-4" id="messagesbox"></div>
</div>

{% endblock content %}
