{% load static %}
<div class="d-flex flex-column h-100" id="messagesbox">
    
    <div class="flex-fill overflow-y-scroll" id="messageslist">
        {% include "messenger/messages_list.html" %}
    </div>

    <script>
        $("#messageslist").scrollTop($("#messageslist")[0].scrollHeight);
    </script>
    <div class="flex-shrink-1 border-top border-warning-subtle border-5">
        {% comment %} <link href="{% static 'plugins/css/resizable.min.css' %}" type="text/css" media="all" rel="stylesheet" /> {% endcomment %}
        <script type="text/javascript" src="{% static 'plugins/js/ace.js' %}" defer></script>
        <script type="text/javascript" src="{% static 'plugins/js/mode-markdown.js' %}" defer></script>
        <script type="text/javascript" src="{% static 'plugins/js/ext-language_tools.js' %}" defer></script>
        <script type="text/javascript" src="{% static 'plugins/js/theme-github.js' %}" defer></script>
        <script type="text/javascript" src="{% static 'plugins/js/typo.js' %}" defer></script>
        <script type="text/javascript" src="{% static 'plugins/js/spellcheck.js' %}" defer></script>
        <script type="text/javascript" src="{% static 'plugins/js/highlight.min.js' %}" defer></script>
        <script type="text/javascript" src="{% static 'plugins/js/resizable.min.js' %}" defer></script>
        <script type="text/javascript" src="{% static 'plugins/js/emojis.min.js' %}" defer></script>
        <script type="text/javascript" src="{% static 'martor/js/martor.bootstrap.min.js' %}" defer></script>
        
        <form class="form">
            {% csrf_token %}
            <div class="form-group">
            {% include "form.html" %}
            <button class="btn btn-outline-success" type="submit"
            hx-vals='{"account": "{{account.user.username}}" }'
            hx-trigger="click" hx-target="#messagesbox" hx-post="{% url "messenger:post" %}"
            >
                <i class="bi bi-save"></i> Send
            </button>
            </div>
        </form>
    <div>

</div>