.helptext{
    color: grey;
}

.errorlist{
    color: red;
}

.error input, .error select {
    border: 2px red solid;
}

.navbar>a{
    display: inline-block;
    color: chocolate;
    font-size: 2em;
    font-weight: bold;
    margin-right: 1em;
}

.navbar>a:hover{
    color: rgb(230, 153, 46);
}

.small{
    font-size: 0.9em;
}

a {
    color: #0060B6;
    text-decoration: none;
}

a:hover {
    color:#00A0C6;
}

/* crispy */
small[id*='hint_id']{
    color: grey;
}

p[id*='error_']{
    color: red;
}

.sorry{
    font-size: 24px;
    color: rgb(100, 100, 100);
}

img{
    max-width: 100%;
    height: auto;
}