{% extends "base.html" %}

{% block title %}
{{article.title}}
{% endblock %}

{% block content %}

<h1>{{article.title}}</h1>

<i>Author: <a href="{% url "accounts:detail" username=article.author.username %}">{{article.author}}</a></i>

<p>{{article.content}}</p>

<div style="display: flex; justify-content: flex-end;">
    <a class="small" style="margin-right: 1em;" href="{{ article.get_edit_url }}">Edit</a>
    <a class="small" href="{{ article.get_delete_url }}">Delete</a>
</div>

{% include "articles/search_box.html" %}

{% endblock %}
