{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>
            {% block title %}
            Welcome to My Blog!
            {% endblock %}
        </title>
        <link rel="stylesheet" href="{% static "css/style.css" %}">
    </head>

    <body>
        <div style="width: 60%; margin: 2em auto;">
            
            <div style="margin-bottom: 4em;">
                <a style="display: inline-block; margin-right: 1em;" href="/"><h1>Home</h1></a>
                <a style="display: inline-block; margin-right: 1em;" href="/articles/create/"><h1>Create Article</h1></a>
                <a style="display: inline-block; margin-right: 1em;" href="/admin/"><h1>Admin</h1></a>
                {% if not request.user.is_authenticated %}
                    <a style="display: inline-block; margin-right: 1em;" href="/login/"><h1>Login</h1></a>
                    <a style="display: inline-block; margin-right: 1em;" href="/register/"><h1>Register</h1></a>
                {% else %}
                    <br>
                    <div>
                        <label style="float: left;">Welcome, {{request.user.username}}</label>
                        <a style="float: right;" href="/logout/">Logout</a>
                    </div>
                {% endif %}
            </div>
            
            <h1>
                {% block head %}
                {% endblock %}
            </h1>
    
            {% block content %}
            {% endblock %}
            
            <br>
            <div style="float: right;">
                <form action="/articles/search/" method="GET">
                    <label>Search for Articles:</label>
                    <br>
                    <input type="text" name="q">
                    <button type="submit">Search</button>
                </form>
            </div>
            
            
        </div>
    </body>
</html>