{% extends "base.html" %}

{% block title %}
{{article.title}}
{% endblock %}

{% block content %}
<div style="display: flex; justify-content: center;">
    <form action="." method="POST">
        {% csrf_token %}
        <p>Are you sure to delete?</p>
        <div style="display: flex; justify-content: center;">
            <input type="submit" name='choice' value="Yes" style="margin-right: 1em;">
            <input type="submit" name='choice' value="No">
        </div>
    </form>
</div>
{% endblock %}